
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(249, 183, 16);
  font-family: 'Poppins', sans-serif;

}
.links{
  margin: 30px;
}
.links a{
  margin: 10px;
  text-decoration: none;
  font-size: 21px;
  font-weight: bold;
  cursor: pointer;
  color: rgb(83, 3, 159);

}
a:hover{
  color: white;
}
.user{
  display: flex;
  align-items: center;
}
.user img{
  border-radius: 200px;
  height: 50px;
  width: 50px;
  margin: 20px;
}
.user p{
  font-size: 21px;
    font-weight: bold;
    color: rgb(83, 3, 159);
    cursor: pointer;
}
.form{
  background-color: bisque;
  width: 200px;
  margin: auto;
  margin-top: 30px;
  padding: 86px 86px 70px 86px;
  border-radius: 30px
}
.title{
  height: 40px;
  border: 2px solid rgb(255, 166, 40);
  border-radius: 10px;
  width: 200px;
}
.desc{
  height: 120px;
  border: 2px solid rgb(255, 166, 40);
  border-radius: 10px;
  width: 200px;
}
.submit{
  cursor: pointer;
  background-color: rgb(255, 166, 40);;
  height: 30px;
  width: 90px;
  border-radius: 20px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');